@import url("reset.css");


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html{
    font-size: 62.5%; /* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
  }

body{
    
    /* font-size: 20px; */
    line-height: 1.6;
    color: #333;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}


#wrapper {
    /* width: 1140px; */
    /* wrapper寬度不適合限制固定寬度，會影響不同尺寸的呈現狀況 */
    width: 100%;
    /* max-width: 1140px; */
    margin: 0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}


/* ==============(header大圖)================ */

.coverflow{
    /* border: 1px solid red; */
    width: auto;
    height: 300px;
    /* 主要父容器的寬度建議設定auto(可以跟著螢幕大小變化，是板面需求，調整固定高度即可) */
    position: relative;
    /* overflow: hidden; */
}

.coverflow > a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 設置元素的寬度為其包含塊（父層）的100%。 */
    height: 100%;
    /* 設置元素的高度為自動，表示元素的高度會根據其內容自動調整，而不會強制拉伸到某個固定高度。 */
    /* 如果用height: 100%：設置元素的高度為其包含塊的100%，表示元素的高度會填滿其父層的高度，不論其內容多少。 */

}

.coverflow > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================中間內容============== */


.about02{
    background-color: #D7BB9A;
    /* border: 1px solid #EDE1D1; */
    width: 100%;
    height: 100%;

    
    
}
/*麵包屑*/
.breadcrumbs{
    width: 100%;
    max-width: 1140px;
    padding: 5px 0;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.itemscope{
    display: flex;
    align-items: center;



}

.itemscope li {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;

}



/*用偽元素處理麵包屑箭頭*/
.itemscope li::after{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 24px;
    background: url(../img/ep_arrow-up.png) center center / contain no-repeat;

}

.itemscope li:last-child::after{
    display: none;

}

.itemscope li > a{
    /* border: 1px solid red; */
    
    display: block;
    /* width: 40px; */
    height: 24px;
    line-height: 22px;
    color: #848484;
    transition: opacity .3s;
    font-weight: 500;
    


}

.itemscope li > span{
    display: block;
    /* width: 70px; */
    height: 24px;
    line-height: 22px;
    color: #848484;
    transition: opacity .3s;
    font-weight: 500;

}


.content-bg{
    /* border: 1px solid blue; */
    width: 100%;
    height: auto;
    background-color: #EDE1D1;
    border-radius:  0 0 50% 50%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.content-1{
    /* border: 1px solid red;  */

    max-width: 1140px;
    width: 100%;
    /* width: 1140px; */

    /* padding: 40px 0; */
    margin: 0 auto;
    /* display: flex; */
    
}

.inner01{
    /* border: 1px solid red;  */
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.heading{
    flex-basis: 55%;
}

.heading > h2{
    /* border: 1px solid red;  */
    line-height: 10rem;
    font-size: 10rem;
    color: #954E39;
    font-weight: 800;
    letter-spacing: .4rem;
}

.text{
    /* border: 1px solid red;  */

    flex-basis: 45%;
}

.text h3{
    font-size: 2.4rem;
    font-weight: 800;
    color: #848484;
    margin-bottom: 24px;
}

.text  > p{
    font-size: 2rem;
    color: #848484;
    margin-bottom: 20px;
    
}



.content-2{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;

}

.figure_wrap01{
    /* border: 1px solid red;  */

    flex-grow: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.f1{
    width: 80%;
}

.f1 > img{
    /* border: 1px solid red;  */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f2{
    width: 75%;
    padding-left: 60px;
    padding-bottom: 120px;
}

.f2 > img{
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.figure_wrap02{
    flex-grow: 1;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-fig{
    width: 75%;
    padding: 60px 0;
}

.main-fig > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.figure_wrap03{
    /* border: 1px solid red;  */

    flex-grow: 1;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.f3{
    width: 80%;
}

.f3 > img{
    /* border: 1px solid red;  */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.f4{
    width: 80%;
    padding-right: 48px;
    padding-bottom: 100px;
}

.f4 > img{
    /* border: 1px solid red;  */
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content-3{
    /* border: 1px solid red;  */
    width: 100%; 
    max-width: 1140px;
    /* padding: 40px 0; */
    margin: 0 auto;


    
}

.inner03{
    /* border: 1px solid red;  */
    background-color: #fff;
    border-radius: 40px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: start;
}

.profile{
    /* border: 1px solid red;  */

    flex-basis: 30%;

    
}

.f5{
    width: 70%;
    padding-left: 48px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.f5 > img{
    /* border: 1px solid red;  */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.txt{
    /* border: 1px solid red;  */
    flex-basis: 70%;
}

.txt > h3{
    padding-top: 24px;
    font-size: 2.4rem;
    font-weight: 800;
    color: #848484;
    margin-bottom: 12px;
    
}


.txt > p{
    font-size: 2rem;
    color: #B3B3B3;
    /* margin-bottom: 20px; */
    padding-right: 48px;
}





