@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html{
    font-size: 62.5%; /* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
  }

body{
    
    /* font-size: 20px; */
    line-height: 1.6;
    color: #333;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}


#wrapper {
    /* width: 1140px; */
    /* wrapper寬度不適合限制固定寬度，會影響不同尺寸的呈現狀況 */
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* ==============(中間內容)================ */

.background{
    background-color: #EDE1D1;
    /* border: 1px solid #EDE1D1; */
    width: 100%;
    height: 100%; */
    box-sizing:  border-box; /*包括邊框和內距*/
    padding-top: 80px;
    /* border: 1px solid red;  */


}

.product-bg{
    /* border: 1px solid blue; */
    /* margin-top: 80px; */
    /* margin-right: 60px; */
    /* margin-left: 60px; */
    /* padding-left: 60px; */
    width: 100%;
    max-width: 1200px;
    height: auto;
    background-color: #D7BB9A;
    border-radius: 600px 600px  0 0;
    margin: 0 auto;



}

.product-content{
    /* border: 1px solid red;  */
    width: 100%;
    max-width: 1140px;
    /* padding: 40px 0; */
    margin: 0 auto;
    /* display: flex; */
    
}

.content-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red;  */

}

.content-1 h2{
    /* border: 1px solid red; */
    writing-mode: vertical-rl; /* 垂直排版:旋轉整個文字方塊 */
    /* text-orientation: upright; 文字直立方向 */
    font-weight: 800;
    font-size: 7.5rem;
    color: #8B5E3C;
    margin-right: 0%; /* 與商品列表保持距離 */
    text-align: center; /* 垂直居中 */
}

.space{
    width: 121px;
    height: 387px;
}



.category-header span{
    font-weight: 800;
    font-size: 2.4rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    padding-right: 12px;
    position: relative;
}

.category-header span::after{
    content: "";
    display: block;
    width: 38vw;
    height: 1px;
    background-color: #7f7f7f;
    position: absolute;
    top: 50%;/*將偽元素的頂部邊緣定位在父元素（即 .category-header span）的垂直中間。*/
    left: 100%;/*將偽元素的左邊緣定位在父元素的右邊緣之外。*/
    transform: translateY(-50%);/*將偽元素垂直居中，由於 top: 50% 將偽元素的頂部邊緣定位在父元素高度的一半處，所以需要將偽元素自身向上移動一半的高度，這樣才能垂直居中。*/
}


.btn ul{
    /* border: 1px solid red;  */
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 580px;


    
}

.btn ul li{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red;  */
    margin-bottom: 12px;

}

.btn ul li > a{
    /* border: 1.5px solid #848484 ; */
    background-color: #A88A80;
    border-radius: 20px;
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: 800;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease; /* 添加過渡效果 */
}

.btn ul li > a:hover{
    /* border: 1.5px solid #848484 ; */
    background-color: rgba(168, 138, 128, 0.5);
    border-radius: 20px;
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.5);
}

/* .content-2{} */

.content-2 p{
    text-align: right;
    font-weight: 800;
    font-size: 1.6rem;

}


.product{
    /* border: 1px solid red;  */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 18px;
    margin-top: 20px;
    padding-bottom: 160px;
    justify-content: center;
    
}


.product-item{
    /* border: 1px solid red;  */
    
    position: relative;
    

}

.salestag-love {
    /* border: 1px solid blue; */
    display: flex;
    width: 90%;
    max-width: 254px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;

}


.salestag-love > i{
    display: block;
    font-size: 20px;
    color: #a7a7a7;
}

.salestag-love > a {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #B36243;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;

}


.product-item > a{
    /* border: 1px solid blue;  */
    display: block;
    width: 100%;
    height: 100%;
    max-width: 270px;
    max-height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
    

    
}

.product-item > a::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* 初始狀態為透明 */
    transition: background-color 0.3s ease; /* 添加過渡效果 */
    z-index: 100;
}

.product-item > a:hover::after {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* 懸停時的半透明暗灰色 */
}


.product-item > a > img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}


.product-name > a{
    color: #333;

}

.product-name > a > h3{
    display: block;
    font-weight: 800;
    font-size: 1.8rem;
    color: #333;   
}



.product-name > a:last-child {
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    color: #333;

}

/* ==========RWD斷點============== */

@media screen and (max-width: 1100px) {
    /* 第一個斷點提早設定，商品圖片往內縮會開始變形 */
    /* 先看wrapper最大寬度是多少，先設定一個斷點>>>width :auto */
    .wrapper{
      width: auto;
    }

    .content-2{
        width: 90%;
        max-width: 1140px;
        padding: 12px 0;
        margin: 0 auto;
        /* border: 1px solid red; */
        
    }

    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 240px;
        max-height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
    
        
    }

}

@media screen and (max-width: 900px) {
    /* 商品名稱字體縮小 */
    .wrapper{
      width: auto;
    }

    
    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
        
    }
    .product-name > a > h3{
        display: block;
        font-weight: 800;
        font-size: 1.6rem;
        color: #333;   
    }


}

@media screen and (max-width: 800px) {
    /* 商品名稱字體縮小 */
    .wrapper{
      width: auto;
    }

    
    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 180px;
        max-height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
        
    }


}




@media screen and (max-width: 765px) {

    .content-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red;  */
    
    }

    .content-1 h2{
        /* border: 1px solid red; */
        writing-mode: horizontal-tb; 
        font-weight: 800;
        font-size: 5rem;
        color: #8B5E3C;
        margin-right: 0%; /* 與商品列表保持距離 */
        text-align: center; /* 垂直居中 */
        margin-bottom: 4%;
    }
    

    .space{
        display: none;
    }

    .category{
        /* border: 1px solid red; */
        width: 80%;
        color: #fff;
        background: #ad9f88;
        border-radius: 23px;
        margin-bottom: 16px;
        align-items: center;
        padding: 0;
        position: relative

    }

    .category::after{
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translateY(-50%);
        /* transform: translateY(-50%) rotate(180deg); */
        content: "";
        width: 22px;
        height: 20px;
        background: url(../img/chevron-down-solid.svg) center center / contain no-repeat;
        transition: transform .3s;

    }

    .category-header span{
        /* border: 1px solid red; */
        
        font-weight: 800;
        font-size: 2rem;
        padding: 12px;
        text-align: left;
        position: relative;
    }
    

    .category-header span::after{
        display: none;

    }

    .btn{
        display: none;
    }

    .content-2 p{
        /* border: 1px solid blue; */
        text-align: left;
        font-weight: 800;
        font-size: 1.2rem;
    
    }

    /* -------------控制grid產品等比例縮小-------- */
    .product-item {
        aspect-ratio: 1 / 1; /* 設置寬高比為1:1，保持正方形 */
        /* border: 1px solid red; */

        width: 100%; /* 確保區塊寬度自適應父容器 */
    }
    
    .product-item img {
        width: 85%;
        height: 85%;
        object-fit: cover; /* 確保圖片填充區塊且保持比例 */
    }
    
    .product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 使產品區塊自適應寬度 */
        gap: 20px; /* 設置區塊間距 */
    }
    
    /* ------------------------------------ */

    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
        
        
    }

}





