@import url("reset.css");

/* header, section, footer {
    background-color: #d6ccc2;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html{
    font-size: 62.5%; /* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
  }

body{
    
    /* font-size: 20px; */
    line-height: 1.6;
    color: #333;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}


#wrapper {
    /* width: 1140px; */
    /* wrapper寬度不適合限制固定寬度，會影響不同尺寸的呈現狀況 */
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* ==============(中間內容)================ */
.background{
    background-color: #EDE1D1;
    /* border: 1px solid #EDE1D1; */
    width: 100%;
    height: 100%; */
    box-sizing:  border-box; /*包括邊框和內距*/
    padding-top: 80px;
    /* border: 1px solid red;  */


}

.cart-bg{
    /* border: 1px solid blue; */
    /* margin-top: 80px; */
    /* margin-right: 60px; */
    /* margin-left: 60px; */
    /* padding-left: 60px; */
    width: auto;
    height: auto;
    background-color: #fff;
    /* border-radius: 600px 600px  0 0; */
    margin: 0 auto;



}

.cart-content{
    /* border: 1px solid red;  */
    width: 100%;
    max-width: 1140px;
    padding: 32px 0;
    margin: 0 auto;
    /* display: flex; */
    
}



.title{
    /* border: 1px solid red;  */

    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 32px;
}

.title h1{
    /* border: 1px solid red;  */
    line-height: 28px;
    font-size: 2.8rem;
    font-weight: 800;
    color: #954E39;
}

.title > a{
    /* border: 1px solid red;  */

    display: block;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #954E39;
}

.title > a:hover{
    /* border: 1px solid red;  */

    display: block;
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    color: #ff7e57;
    
}

.scopeRWD{
    display: none;
}

.scope{
    /* border: 1px solid blue; */
    width: 100%;
    border-collapse: collapse; /* 移除单元格间的空白 */ 

}

.md-scope{
    /* border: 1px solid blue;  */
    display: flex;
    position: relative;

}

.md-scope::after{
    /* border: 1px solid blue;  */
    position: absolute;
    left: 0;
    top: 28px;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a7a7a7;
    margin: 10px 0;
}

.col-md-1{
    /* border: 1px solid blue;  */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 15%;
    font-size: 1.8rem;
    font-weight: 800;
}

.col-md-2{
    /* border: 1px solid blue;  */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    font-size: 1.8rem;
    font-weight: 800;
}

.col-md-3{
    /* border: 1px solid blue;  */

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    font-size: 1.8rem;
    font-weight: 800;
}

.col-md-4{
    /* border: 1px solid blue;  */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;    
    font-size: 1.8rem;
    font-weight: 800;
}

.col-md-5 > a{
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 100px;
    height: auto;
    /* border: 1px solid blue;  */
    text-align: right;
    font-size: 1.8rem;
    font-weight: 800;
    color: #333;
}

.col-md-5 > a:hover{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    display: block;
    width: 100px;
    height: auto;
    /* border: 1px solid blue;  */
    text-align: right;
    font-size: 1.8rem;
    font-weight: 800;
    color: #954E39;
}

.xs1-scope{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.col-xs-1{
    vertical-align: middle;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 22%;
    
    
}



.col-xs-1 > a:first-child{
    /* border: 1px solid blue; */
    display: block;
    width: 100%;
    height: 100%;
    max-width: 160px;
    max-height: 160px;
    display: flex;
    justify-content: center;
    
    
}

.col-xs-1 > a:first-child > img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;


}




.col-xs-1 > div > a > h1 {
    /* border: 1px solid blue;  */
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
    color: #333;
    
}

.col-xs-1 >  div > a > p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #A09E9B;
    

}

.col-xs-1 > div > .innerRWD{
    
    /* border: 1px solid blue; */
    display: none;
}



.col-xs-1 > div > .RWD-P{
    display: none;
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
    /* border: 1px solid blue; */


}



.col-xs-2{
    vertical-align: middle;
    flex-grow: 1.1;
    flex-shrink: 1;
    flex-basis: auto;
    
}



.sale-price > a:first-child{
    display: block;
    width: 70px;
    height: 20px;
    background-color: #B36243;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;
}

.sale-price > a:last-child{
    display: block;
    font-size: 1.8rem;
    color: #333;
}


.col-xs-3{
    vertical-align: middle;
    flex-grow: 0.9;
    flex-shrink: 1;
    flex-basis: auto;

}


.quantity-button{
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    width: 40px;
    height: 28px;
    line-height: 28px;
    border: 0; 
}


.quantity-input > button:hover {
    background-color:#B36243;
    transition: 0.3s;
}


.quantity-input > input{
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    width: 40px;
    height: 26px;
    line-height: 26px;
    border: 0; 
}

.col-xs-4{
    vertical-align: middle;
    flex-grow: 1.1;
    flex-shrink: 1;
    flex-basis: auto;

}

.col-xs-4 > p{
    font-size: 1.8rem;
}

.col-xs-5{
    vertical-align: middle;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

}

.col-xs-5 > a{
    /* border: 1px solid blue;  */

    display: block;
    width: auto;
    height: auto;
    /* padding-left: 10px; */
    text-align:right ;

}


.xs2-scope{
    display: flex;
    align-items: center;
    position: relative;
}

.xs2-scope::after{
    /* border: 1px solid blue;  */
    position: absolute;
    left: 0;
    top: 100%;
    content: "";
    display: block;
    width: 100%;
    height: 1.2px;
    background-color: #a7a7a7;
    margin: 10px 0;
}

.content-2{
    /* border: 1px solid blue;  */
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.content-2::after{
    /* border: 1px solid blue;  */
    position: absolute;
    left: 0;
    top: 292px;
    content: "";
    display: block;
    width: 100%;
    height: 1.2px;
    background-color: #a7a7a7;
    margin: 10px 0;
}

.left{
    /* border: 1px solid blue; */
    width: 48%; 

}

.shipping{
    width: 100%;
    margin-bottom: 2.4rem;
}

.shipping > p{
    font-size: 1.6rem;
    margin-bottom: 0.4rem;
}

.payment{
    width: 100%;
    margin-bottom: 2.4rem;
}

.payment > p{
    font-size: 1.6rem;
    margin-bottom: 0.4rem;

}
.input{
    width: 100%;
    position: relative; /* 為了偽元素定位 */
}

.input select{
    width: 100%;
    height: 46px;
    line-height: 46px; /* 確保游標高度與input框高度一致 */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
    appearance: none; /* 隱藏默認的下拉箭頭 */
    background: transparent; /* 確保背景透明 */
   
}

.input > select > option {
    line-height: 20px; /* 讓選項的高度與select框一致 */
    vertical-align: middle; /* 垂直置中 */
    text-align: left; /* 水平靠左對齊 */
     /* 加上內邊距，讓文字與邊框有間隔 */
}

.input::after {
    content: "▼"; /* 使用自定義的箭頭符號 */
    font-size: 16px;
    color: #B36243;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* 確保偽元素不會干擾選擇操作 */
}

.input select:focus {
    border-color: #B36243;
    box-shadow: 0 0 8px rgba(179, 98, 67, 0.3); /* 暈染效果 */
    outline: none; /* 移除默認的黑框 */
}



.time > p{
    font-size: 1.6rem;
    margin-bottom: 0.4rem;

}

.right{
    /* border: 1px solid blue; */
    width: 48%; 
}

.discount{
    width: 100%;
    margin-bottom: 24px;
}

.discount > p{
    font-size: 1.6rem;
    margin-bottom: 0.4rem;

}

.code-input{
    display: flex;
    width: 100%;
}

.fill{
    flex-grow: 3;
}

.fill > input{
    width: 90%;
    height: 44px;
    line-height: 44px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 8px;
    font-size: 20px;
    transition: border-color 0.3s ease-in-out;
}

.fill > input:focus {
    border-color: #B36243;
    box-shadow: 0 0 8px rgba(179, 98, 67, 0.3); /* 暈染效果 */
    outline: none; /* 移除默認的黑框 */
}

.confirm{
    flex-grow: 1;
    height: 46px;
    display: block;
    background-color: #B36243;
    color: white;
    text-align: center;
    font-size: 2rem; 
    /* margin-top: 44px; */
    /* margin-bottom: px; */
    line-height: 46px;
    border: 0; 
}

.confirm:hover{
    flex-grow: 1;
    height: 46px;
    display: block;
    background-color: rgb(221, 202, 170);
    color: #B36243;
    text-align: center;
    font-size: 2rem; 
    /* margin-top: 44px; */
    /* margin-bottom: px; */
    line-height: 46px;
    border: 0; 
}

.total{
    width: 100%;
}

.count{
    /* border: 1px solid blue; */

    width: 100%;
    /* padding-left: 40px; */
    display: flex;
    justify-content: space-between;
    
}

.count > h3{
    padding-left: 40%;
    font-size: 1.6rem;

}

.count > p{
    font-size: 1.6rem;

}

.shipping-fee{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.shipping-fee > h3{
    padding-left: 40%;
    font-size: 1.6rem;

}

.shipping-fee > p{
    font-size: 1.6rem;

}

.discount-fee{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.discount-fee > h3{
    padding-left: 40%;
    font-size: 1.6rem;

}

.discount-fee > p{
    font-size: 1.6rem;

}

.total-fee{
    display: flex;
    justify-content: space-between;
}

.total-fee > h3{
    /* border: 1px solid blue; */

    font-size: 3.2rem;
    font-weight: 800;

}

.total-fee > p{
    font-size: 3.2rem;
    font-weight: 800;

}

.total > a{
    height: 45px;
    display: block;
    background-color: #B36243;
    color: white;
    text-align: center;
    font-size: 2rem; 
    /* margin-top: 45px; */
    margin-bottom: 8px;
    line-height: 45px;
    border: 1px solid #B36243;

}

.total > a:hover{
    /* border: 1px solid red; */
    height: 45px;
    display: block;
    background-color: white;
    color: #B36243;
    text-align: center;
    font-size: 2rem; 
    /* margin-top: 45px; */
    margin-bottom: 8px;
    line-height: 45px;
    border: 1px solid #B36243;

}


.content-3{
    width: 100%;

    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 40px;
    position: relative;
    

}

.content-3::after{
    /* border: 1px solid blue;  */
    position: absolute;
    left: 0;
    top: 104%;
    content: "";
    display: block;
    width: 100%;
    height: 1.2px;
    background-color: #a7a7a7;
    margin: 10px 0;
}

.refer-title{
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 2.4rem;
    font-weight: 800;
    color: #954E39;
    margin-top: 12px;

}

.refer-title::after{
    content: "";
    display: block;
    width: 200px;
    height: 2px;
    background-color: #954E39;
    margin: 0 auto;
    margin-bottom: 12px;
    
}

.refer-product{
    /* border: 1px solid red; */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 18px;
    margin-top: 20px;
    justify-content: center;
}

.product-item{
    /* flex-grow: 1; */
    /* border: 1px solid red;  */
    position: relative;
    

}

.salestag-love {
    /* border: 1px solid blue; */
    display: flex;
    width: 90%;
    max-width: 254px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;

}


.salestag-love > i{
    display: block;
    font-size: 20px;
    color: #a7a7a7;
}

.salestag-love > a {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #B36243;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;

}


.product-item > a{
    /* border: 1px solid blue;  */
    display: block;
    width: 100%;
    height: 100%;
    max-width: 270px;
    max-height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
    
}

.product-item > a > img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}

.product-item > a::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* 初始狀態為透明 */
    transition: background-color 0.3s ease; /* 添加過渡效果 */
    z-index: 100;
}

.product-item > a:hover::after {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* 懸停時的半透明暗灰色 */
}



.product-name > a{
    color: #333;

}
.product-name > a > h3{
    display: block;
    font-weight: 800;
    font-size: 1.8rem;
    
}



.product-name > a:last-child {
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
}

.content-4{
    margin-top: 48px;
    /* border: 1px solid blue;  */

}

.content-4 p{
    font-size: 1.8rem;

}


/* ==========RWD斷點============== */

@media screen and (max-width: 1180px) {
    /* 第一個斷點提早設定，標語和介紹文會擠到邊邊 */
    /* 先看wrapper最大寬度是多少，先設定一個斷點>>>width :auto */
    .wrapper{
      width: auto;
    }

    .cart-content{
        /* border: 1px solid red;  */
        width: 90%;
        max-width: 1140px;

        
    }

    /* -------------控制grid產品等比例縮小-------- */
    .product-item {
        aspect-ratio: 1 / 1; /* 設置寬高比為1:1，保持正方形 */
        /* border: 1px solid red; */

        width: 100%; /* 確保區塊寬度自適應父容器 */
    }
    
    .product-item img {
        width: 85%;
        height: 85%;
        object-fit: cover; /* 確保圖片填充區塊且保持比例 */
    }
    
    .refer-product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 使產品區塊自適應寬度 */
        gap: 18px; /* 設置區塊間距 */
    }
    
    /* ------------------------------------ */

    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 270px;
        max-height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
        
    }

}

@media screen and (max-width: 1075px){

    .col-md-2{
        display: none;
    }

    .col-md-3{
        display: none;
    }

    .col-md-4{
        display: none;
    }

    .col-xs-2{
        display: none;
    }

    .col-xs-4{
        display: none;
    }

    .col-xs-3{
        display: none;
    }


    .col-xs-1 > div > a > h1 {
        /* border: 1px solid blue;  */
        display: block;
        font-size: 1.4rem;
        font-weight: 800;
        color: #333;
        
    }

    .col-xs-1 > div > .innerRWD{
    
        /* border: 1px solid blue; */
        display: block;
    }
    
    
    
    .col-xs-1 > div > .RWD-P{
        display: block;
        font-size: 1.8rem;
        font-weight: 500;
        color: #333;
        /* border: 1px solid blue; */
    
    
    }
    .col-xs-1 > a:first-child{
        /* border: 1px solid blue; */
        display: block;
        width: 80%;
        height: 80%;
        max-width: 160px;
        max-height: 160px;
        display: flex;
        justify-content: left;
        
        
    }

    .col-xs-1 > a:first-child > img{
        display: block;
        max-width: 80%;
        max-height: 80%;
        object-fit: cover;
    
    
    }

    .col-xs-1{
        vertical-align: middle;
        display: flex;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 90%;
        
        
    }
    .col-xs-5{
        vertical-align: middle;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 10%;
    
    }
    
    
}


@media screen and (max-width: 765px) {



   

    .content-2{
        /* border: 1px solid blue;  */
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .left{
        /* border: 1px solid blue; */
        width: 100%; 
        margin-bottom: 2.4rem;
    }


    .right{
        /* border: 1px solid blue; */
        width: 100%; 
    }


    .confirm{
        flex-grow: 1;
        flex-basis: 10%;
        height: 45px;
        display: block;
        
        font-size: 1.6rem;  
       
        line-height: 41px;
        border: 0; 
    }
    
    .confirm:hover{
        flex-grow: 1;
        height: 45px;
        display: block;
     
        font-size: 1.6rem; 
       
        line-height: 41px;
        border: 0; 
    }


    .fill{
        flex-basis: 30%;

    }




    .content-2::after{
        /* border: 1px solid blue;  */
       /* display: none; */
        position: absolute;
        left: 0;
        top: 102%;
        content: "";
        display: block;
        width: 100%;
        height: 1.2px;
        background-color: #a7a7a7;
        margin: 10px 0;
    }

    .product-item {
        aspect-ratio: 1 / 1; /* 設置寬高比為1:1，保持正方形 */
        /* border: 1px solid red; */

        width: 100%; /* 確保區塊寬度自適應父容器 */
    }
    
    .product-item img {
        width: 85%;
        height: 85%;
        object-fit: cover; /* 確保圖片填充區塊且保持比例 */
    }
    
    .refer-product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* 使產品區塊自適應寬度 */
        gap: 18px; /* 設置區塊間距 */
    }
    
    /* ------------------------------------ */

    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 270px;
        max-height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
        
    }
    
    .content-4 p{
        font-size: 1.4rem;
    
    }
    

    
}
    


