@import url("reset.css");

/* header, section, footer {
    background-color: #d6ccc2;
} */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html{
    font-size: 62.5%; /* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
  }

body{
    
    /* font-size: 20px; */
    line-height: 1.6;
    color: #333;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}


#wrapper {
    /* width: 1140px; */
    /* wrapper寬度不適合限制固定寬度，會影響不同尺寸的呈現狀況 */
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* ==============(header大圖)================ */

.coverflow{
    /* border: 1px solid red; */
    width: auto;
    height: 300px;
    /* 主要父容器的寬度建議設定auto(可以跟著螢幕大小變化，是板面需求，調整固定高度即可) */
    position: relative;
    /* overflow: hidden; */
    

    
}

.coverflow > a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 設置元素的寬度為其包含塊（父層）的100%。 */
    height: 100%;
    /* 設置元素的高度為自動，表示元素的高度會根據其內容自動調整，而不會強制拉伸到某個固定高度。 */
    /* 如果用height: 100%：設置元素的高度為其包含塊的100%，表示元素的高度會填滿其父層的高度，不論其內容多少。 */
    


}

.coverflow > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    

    
}

/*更多商品*/
.cover-crumbs{
    width: 1140px;
    padding: 5px 0;
    margin: 0 auto;
    /* border: 1px solid red; */
    

    

}

.cover-itemscope{
    display: flex;
    align-items: center;
   





}

.cover-itemscope li {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;
    


}


/*用偽元素處理麵包屑箭頭*/
.cover-itemscope li::after{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 24px;
    background: url(../img/ep_arrow-up.png) center center / contain no-repeat;
   

}


.cover-itemscope li > a{
    /* border: 1px solid red; */
    
    display: block;
    /* width: 40px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;
    
}

.cover-itemscope li > span{
    display: block;
    /* width: 70px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;
   

}

/* ================中間內容============== */

.background{
    background-color: #fff;
}

/*麵包屑*/
.breadcrumbs{
    width: 1140px;
    padding: 5px 0;
    margin: 0 auto;
    /* border: 1px solid red; */

}

.itemscope{
    display: flex;
    align-items: center;



}

.itemscope li {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;

}


/*用偽元素處理麵包屑箭頭*/
.itemscope li::after{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 24px;
    background: url(../img/ep_arrow-up.png) center center / contain no-repeat;

}

/*最後一個不需要使用麵包屑箭頭*/
.itemscope li:last-child::after{
    /* border: 1px solid red; */
    display: none;

}

.itemscope li > a{
    /* border: 1px solid red; */
    
    display: block;
    /* width: 40px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;
    


}

.itemscope li > span{
    display: block;
    /* width: 70px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;

}

.content-1{
    /* border: 1px solid red;  */
    width: 1140px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
}



.text-item h3{
    font-size: 1.6rem;
    font-weight: 800;
    color: #7f7f7f;

}

.text-item h3:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #7f7f7f;
    margin: 10px 0;


}

.text-item a{
    display: block;
    font-size: 1.6rem;
    color: #333;
   
}

.text-item a:hover{
    display: block;
    font-size: 1.6rem;
    color: #B36243;
    font-weight: 800;

}

.vision-product{
    /* border: 1px solid blue;  */
    position: relative;
}


.product{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 28px;
    width: 100%;
    margin-top: 20px;
    
    
}


.product-item{
    /* border: 1px solid red;  */
    /* grid-column: 1/2;
    grid-row: 1/2; */
    position: relative;
    

}

.salestag-love {
    /* border: 1px solid blue; */
    display: flex;
    width: 254px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;

}


.salestag-love > i{
    display: block;
    font-size: 20px;
    color: #a7a7a7;

    
}

.salestag-love > a {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #B36243;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;

}


.product-item > a{
    /* border: 1px solid blue;  */
    display: block;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
    
}

.product-item > a::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* 初始狀態為透明 */
    transition: background-color 0.3s ease; /* 添加過渡效果 */
    z-index: 100;
}

.product-item > a:hover::after {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* 懸停時的半透明暗灰色 */
}



.product-name > a{
    color: #333;

}

.product-name > a > h3{
    display: block;
    font-weight: 800;
    font-size: 1.8rem;
    
}


.product-name > a:last-child {
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
}

