@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html{
    font-size: 62.5%; /* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
  }

body{
    
    /* font-size: 20px; */
    line-height: 1.6;
    color: #333;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}


#wrapper {
    /* width: 1140px; */
    /* wrapper寬度不適合限制固定寬度，會影響不同尺寸的呈現狀況 */
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* ==============(header大圖)================ */

header{
    margin-bottom: 0px;
}
.coverflow{
    /* border: 1px solid red; */
    
    width: 100vw;
    height: 300px;
    /* 主要父容器的寬度建議設定auto(可以跟著螢幕大小變化，是板面需求，調整固定高度即可) */
    position: relative;
    overflow: hidden;
}

.coverflow > a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 設置元素的寬度為其包含塊（父層）的100%。 */
    height: 100%;
    /* 設置元素的高度為自動，表示元素的高度會根據其內容自動調整，而不會強制拉伸到某個固定高度。 */
    /* 如果用height: 100%：設置元素的高度為其包含塊的100%，表示元素的高度會填滿其父層的高度，不論其內容多少。 */

}

.coverflow > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================中間內容============== */
.topic01{
    background-color: #ffffff;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%; 
    box-sizing: border-box; /* 包括邊框和內距 */
    /* padding-top: 80px; */

}

/*麵包屑*/
.breadcrumbs{
    width: 1140px;
    padding: 5px 0;
    margin: 0 auto;
    /* border: 1px solid red; */

}

.itemscope{
    display: flex;
    align-items: center;



}

.itemscope li {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;

}

.itemscope > li:nth-child(1) {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;

}

/*用偽元素處理麵包屑箭頭*/
.itemscope li:nth-child(1)::after{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 24px;
    background: url(../img/ep_arrow-up.png) center center / contain no-repeat;

}

.itemscope li > a{
    /* border: 1px solid red; */
    
    display: block;
    /* width: 40px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;
    


}

.itemscope li > span{
    display: block;
    /* width: 70px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;

}

.topic01_outer{
    position: relative;
    z-index: 10;



}

/*用偽元素處理弧形背景*/
.topic01_outer::before{
    /* border: 1px solid blue; */
    content: "";
    position: absolute;
    max-width: 1770px;
    width: 97%;
    height: 99.5%;
    bottom: 0%;
    right: 0%;
    background: #EDE1D1;
    opacity: .4;
    border-radius: 200px 0 0;
    z-index: -1;



}

.box{
    width: 1140px;
    padding: 12px 0;
    margin: 0 auto;
    /* border: 1px solid red; */
    

    /* display: flex; */
    
}


.item{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 36px 0;
    border-bottom: 1px solid #5F5E5E;

}

.item::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* 初始狀態為透明 */
    transition: background-color 0.3s ease; /* 添加過渡效果 */
    z-index: 100;
}

.item:hover::after {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1); /* 懸停時的半透明暗灰色 */
}

/*用偽元素處理箭頭指標*/
.item::before{
    content: "";
    position: absolute;
    right: 0%;
    top: 53%;
    width: 60px;
    height: 60px;
    transform: translateY(-50%);
    background: url(.../img/latest-news/arrow.png) center center / cover no-repeat;
}

.item figure{
    width: 260px;
    height: 260px;
}

.item figure > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner{
    margin-left: 5%;
    flex-basis: 62%;

}

.label{
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: #954E39;
    font-weight: 500;
}

.inner > p{
    font-size: 2rem;
    font-weight: 800;
    color: #954E39;

    /* border: 1px solid red; */
    /* padding-right: 40px; */

}
