@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html{
    font-size: 62.5%; /* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
  }

body{
    
    /* font-size: 20px; */
    line-height: 1.6;
    color: #333;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}


#wrapper {
    /* width: 1140px; */
    /* wrapper寬度不適合限制固定寬度，會影響不同尺寸的呈現狀況 */
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* ==============(header大圖)================ */


.coverflow{
    /* border: 1px solid red; */
    width: auto;
    height: 300px;
    /* 主要父容器的寬度建議設定auto(可以跟著螢幕大小變化，是板面需求，調整固定高度即可) */
    position: relative;
    /* overflow: hidden; */
}

.coverflow > a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 設置元素的寬度為其包含塊（父層）的100%。 */
    height: 100%;
    /* 設置元素的高度為自動，表示元素的高度會根據其內容自動調整，而不會強制拉伸到某個固定高度。 */
    /* 如果用height: 100%：設置元素的高度為其包含塊的100%，表示元素的高度會填滿其父層的高度，不論其內容多少。 */

}

.coverflow > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ================中間內容============== */

.background{
    background-color: #fff;
}

/*麵包屑*/
.breadcrumbs{
    width: 100%;
    max-width: 1140px;
    padding: 5px 0;
    margin: 0 auto;
    border: 1px solid red;

}

.itemscope{
    display: flex;
    align-items: center;



}

.itemscope li {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;

}


/*用偽元素處理麵包屑箭頭*/
.itemscope li::after{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 24px;
    background: url(../img/ep_arrow-up.png) center center / contain no-repeat;

}

/*最後一個不需要使用麵包屑箭頭*/
.itemscope li:last-child::after{
    /* border: 1px solid red; */
    display: none;

}

.itemscope li > a{
    /* border: 1px solid red; */
    
    display: block;
    /* width: 40px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;
    


}

.itemscope li > span{
    display: block;
    /* width: 70px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;

}

.content-1{
    border: 1px solid red; 
    width: 100%;
    max-width: 1140px;
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
}


.text-item h3{
    font-size: 1.6rem;
    font-weight: 800;
    color: #7f7f7f;

}

.text-item h3:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #7f7f7f;
    margin: 10px 0;


}

.text-item a{
    display: block;
    font-size: 1.6rem;
    color: #333;


}

.text-item a:hover{
    display: block;
    font-size: 1.6rem;
    color: #B36243;
    font-weight: 800;

}



.vision{
    /* border: 1px solid green;  */
    display: flex;
    align-items: start;
    justify-content: end;
    width: 100%;
    max-width: 908px;
    height: auto;


}



/* 增加輪播圖功能 */
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.image{
	width: 100%;
	height: auto;
}
#sliderBoard{	/* div */
    position: relative; /* 新增這行 */
	/* border: 1px solid red; */
	width: 100%;
	height: auto;
	margin: 0 auto;

	overflow: hidden;
}
#content{		/* ul */
	position: relative;
}
#content li{	/* li */
	float: left;
}
/* circle button */
#contentButton{
    position: absolute; /* 新增這行 */
    bottom: 10px; /* 可以根據需要調整位置 */
    left: 50%;
    transform: translateX(-50%); /* 水平居中 */
    border: none; /* 去掉邊框 */
	text-align: center;
	height: 50px;
}
#contentButton li{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 8px;

	display: inline-block;
    cursor: pointer; /* 增加鼠標變成手型 */
}
#contentButton li.clicked{
	background-color: #666;
}





.product{
    /* border: 1px solid red;  */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 45px;
    margin-top: 20px;
}


.product-item{
    /* border: 1px solid red;  */
    /* grid-column: 1/2;
    grid-row: 1/2; */
    position: relative;
    

}

.salestag-love {
    /* border: 1px solid blue; */
    display: flex;
    width: 90%;
    max-width: 254px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 10;

}


.salestag-love > i{
    display: block;
    font-size: 20px;
    color: #a7a7a7;
}

.salestag-love > a {
    display: block;
    width: 70px;
    height: 20px;
    background-color: #B36243;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    line-height: 20px;
    border-radius: 4px;

}


.product-item > a{
    /* border: 1px solid blue;  */
    display: block;
    width: 270px;
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    position: relative;
    
}

.product-item > a > img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;

}

.product-item > a::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* 初始狀態為透明 */
    transition: background-color 0.3s ease; /* 添加過渡效果 */
    z-index: 100;
}

.product-item > a:hover::after {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* 懸停時的半透明暗灰色 */
}



.product-name > a{
    color: #333;

}

.product-name > a > h3{
    display: block;
    font-weight: 800;
    font-size: 1.8rem;
    
}



.product-name > a:last-child {
    display: block;
    font-size: 1.6rem;
    font-weight: 800;
}



/* ==========RWD斷點============== */

@media screen and (max-width: 1160px) {
    /* 第一個斷點提早設定，商品圖片往內縮會開始變形 */
    /* 先看wrapper最大寬度是多少，先設定一個斷點>>>width :auto */
    

    .wrapper{
        width: auto;
      }
  
      .itemscope{
          padding: 20px 0;
          /* border: 1px solid red; */
          margin: 0 4% 0;
      }

    .content-1{
        width: 95%;
        max-width: 1140px;
        padding: 12px 0;
        margin: 0 auto;
        /* border: 1px solid red; */
        
    }

}

@media screen and (max-width: 1080px){
    /* 斷點提早設定，左側選單會碰到輪播圖 */
    .content-1{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .vision-product{
        border: 1px solid red;
        width: 100%;
        /* max-width: 960px; */
    }
    #sliderBoard {
        
        width: 100%;
        /* max-width: 960px; */
        height: auto;
    }

    #sliderBoard img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    
    .product-item {
        aspect-ratio: 1 / 1; /* 設置寬高比為1:1，保持正方形 */
        /* border: 1px solid red; */

        width: 100%; /* 確保區塊寬度自適應父容器 */
    }
    
    .product-item img {
        width: 85%;
        height: 85%;
        object-fit: cover; /* 確保圖片填充區塊且保持比例 */
    }
    
    .product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* 使產品區塊自適應寬度 */
        gap: 20px; /* 設置區塊間距 */
    }
    
    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 320px;
        max-height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
    }

}

@media screen and (max-width: 930px) {

    /* 麵包屑字體放大 */
    .itemscope li {
        /* border: 1px solid red; */
    
        font-size: 1.6rem;
        color: #3e3e3e;
    }

    
    .product-item > a{
        /* border: 1px solid blue;  */
        display: block;
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        border-radius: 20px;
        position: relative;
        
        
    }
    .product-name > a > h3{
        display: block;
        font-weight: 800;
        font-size: 1.6rem;
        color: #333;   
    }


}

@media screen and (max-width: 800px) {
  


}




@media screen and (max-width: 765px) {

    .content-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* border: 1px solid red;  */
    
    }

    

    .category{
        /* border: 1px solid red; */
        width: 80%;
        color: #fff;
        background: #ad9f88;
        border-radius: 23px;
        margin-bottom: 16px;
        align-items: center;
        padding: 0;
        position: relative

    }

    .category::after{
        position: absolute;
        top: 50%;
        right: 4%;
        transform: translateY(-50%);
        /* transform: translateY(-50%) rotate(180deg); */
        content: "";
        width: 22px;
        height: 20px;
        background: url(../img/chevron-down-solid.svg) center center / contain no-repeat;
        transition: transform .3s;

    }

    .category-header span{
        /* border: 1px solid red; */
        
        font-weight: 800;
        font-size: 2rem;
        padding: 12px;
        text-align: left;
        position: relative;
    }
    

    .btn{
        display: none;
    }



}
