@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html{
    font-size: 62.5%; /* 預設字級是16px, 16 x 62.5% ＝ 10 , 方便計算*/
  }

body{
    
    /* font-size: 20px; */
    line-height: 1.6;
    color: #333;
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
}

a{
    color: #fff;
    text-decoration: none;
}


#wrapper {
    /* width: 1140px; */
    /* wrapper寬度不適合限制固定寬度，會影響不同尺寸的呈現狀況 */
    margin: 0 auto;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* ==============(header大圖)================ */

.coverflow{
    /* border: 1px solid red; */
    width: auto;
    height: 300px;
    /* 主要父容器的寬度建議設定auto(可以跟著螢幕大小變化，是板面需求，調整固定高度即可) */
    position: relative;
    /* overflow: hidden; */
}

.coverflow > a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* 設置元素的寬度為其包含塊（父層）的100%。 */
    height: 100%;
    /* 設置元素的高度為自動，表示元素的高度會根據其內容自動調整，而不會強制拉伸到某個固定高度。 */
    /* 如果用height: 100%：設置元素的高度為其包含塊的100%，表示元素的高度會填滿其父層的高度，不論其內容多少。 */

}

.coverflow > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ==============(中間內容)================ */

.background{
    background-color: #fff;
}

/*麵包屑*/
.breadcrumbs{
    width: 100%;
    max-width: 1140px;
    /* width: 1140px; */
    padding: 5px 0;
    margin: 0 auto;
    /* border: 1px solid red; */

}

.itemscope{
    display: flex;
    align-items: center;



}

.itemscope li {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;

}


/*用偽元素處理麵包屑箭頭*/
.itemscope li::after{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 24px;
    background: url(../img/ep_arrow-up.png) center center / contain no-repeat;

}

/*最後一個不需要使用麵包屑箭頭*/
.itemscope li:last-child::after{
    /* border: 1px solid red; */
    display: none;

}

.itemscope li > a{
    /* border: 1px solid red; */
    
    display: block;
    /* width: 40px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;
    


}

.itemscope li > span{
    display: block;
    /* width: 70px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;

}

.content-1{
    /* border: 1px solid red;  */
    width: 100%;
    max-width: 1140px;
    /* width: 1140px; */
    padding: 30px 0;
    margin: 0 auto;
    display: flex;
    align-items: start;
    justify-content: space-between;
    position: relative;
}

.text-item h3{
    font-size: 1.6rem;
    font-weight: 800;
    color: #7f7f7f;

}

.text-item h3:after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #7f7f7f;
    margin: 10px 0;


}

.text-item a{
    display: block;
    font-size: 1.6rem;
    color: #333;


}

.text-item a:hover{
    display: block;
    font-size: 1.6rem;
    color: #B36243;
    font-weight: 800;

}

.vision-product{
    /* border: 1px solid blue;  */
    position: relative;
}

/*更多商品*/
.cover-crumbs{
    position: absolute;
    top:0;
    right: 0;

    width: auto;
    padding: 5px 0;
    margin: 0 auto;
    /* border: 1px solid red; */
    

    

}

.cover-itemscope{
    display: flex;
    align-items: center;
   





}

.cover-itemscope li {
    /* border: 1px solid red; */

    position: relative;
    font-size: 1.2rem;
    color: #3e3e3e;
    /* letter-spacing: .1em; */
    text-transform: uppercase;
    height: 24px;
    margin-right: 5px;
    padding-right: 18px;
    z-index: 10;
    


}


/*用偽元素處理麵包屑箭頭*/
.cover-itemscope li::after{
    /* border: 1px solid red; */
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    content: "";
    width: 18px;
    height: 24px;
    background: url(../img/crumb-arrow.png) center center / contain no-repeat;
   
}


.cover-itemscope li > a{
    /* border: 1px solid red; */
    
    display: block;
    /* width: 40px; */
    height: 24px;
    line-height: 22px;
    color: #333;
    transition: opacity .3s;
    font-weight: 500;
    
}

.cover-itemscope li > span{
    display: block;
    /* width: 70px; */
    height: 24px;
    line-height: 22px;
    color: #9b9b9b;
    transition: opacity .3s;
    font-weight: 500;
   


}

.vision{
    /* border: 1px solid green;  */
    display: flex;
    align-items: start;
    justify-content: end;
    width: 1018px;
    height: auto;


}

/* 增加輪播圖功能 */
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.image{
	width: 100%;
	height: auto;
}
#sliderBoard{	/* div */
    position: relative; /* 新增這行 */
	/* border: 1px solid red; */
	width: 100%;
	height: auto;
	margin: 0 auto;

	overflow: hidden;
}
#content{		/* ul */
	position: relative;
}
#content li{	/* li */
	float: left;
}
/* circle button */
#contentButton{
    position: absolute; /* 新增這行 */
    bottom: 10px; /* 可以根據需要調整位置 */
    left: 50%;
    transform: translateX(-50%); /* 水平居中 */
    border: none; /* 去掉邊框 */
	text-align: center;
	height: 50px;
}
#contentButton li{
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #ccc;
	margin: 8px;

	display: inline-block;
    cursor: pointer; /* 增加鼠標變成手型 */
}
#contentButton li.clicked{
	background-color: #666;
}


.slogan{
    position: absolute;
    top: 668px;
    left: -68px;
    display: flex;
    flex-direction: column-reverse;

}

.vision-product h2{
    

    /* border: 1px solid red; */
    writing-mode: vertical-rl; /* 垂直排版:旋轉整個文字方塊 */
    /* text-orientation: upright; 文字直立方向 */
    font-weight: 800;
    font-size: 6rem;
    line-height: 5rem;
    color: #8B5E3C;
    text-align: center; /* 垂直居中 */
    vertical-align: middle;
       
}

.slogan i{
    /* border: 1px solid blue; */
    font-size: 5.4rem;
    font-weight: 800;
    color: #8B5E3C;
}

.vision a{
    display: block;
    width: 100%;
    height: 100%;

}

.vision img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.product{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 4px;
    width: 100%;
    margin-top: 20px;
    
}

.product-item > a{
    /* border: 1px solid blue;  */
    display: block;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    
    
}

.product-item > a > img{
    /* border: 1px solid blue;  */
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
